body {
    font-family: 'Segoe UI', sans-serif;
    background: #3B364E;
    padding: 40px;
    color: #333;
}

img.banner, img.footer {
    width: 100%; /* Ocupa el 90% del ancho del contenedor */
    height: 100px; /* Altura fija de 100px */
    border-radius: 25px;
    margin-bottom: 30px;
    box-shadow:  13px 13px 26px #1f0a0a,
             -13px -13px 26px #7d2626;;
    display: block; /* Necesario para que los márgenes automáticos centren la imagen */
    margin-left: auto; /* Centra la imagen horizontalmente */
    margin-right: auto; /* Centra la imagen horizontalmente */
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin distorsionarse, puede recortar.
                          Alternativa: object-fit: contain; (para ver toda la imagen, puede dejar espacios) */
}

h1, h2 {
    text-align: center;
    color: #e64646;
}

#form-container, table {
    border-radius: 25px;
    background: #3B364E;
    box-shadow:  -35px -35px 70px #1f0a0a,
                35px 35px 70px #7d2626;
    padding: 20px;

    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #9a2f2f;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background: #3B364E;
    box-shadow: inset -16px -16px 100px #401515,
                inset 16px 16px 100px #a03333;
    font-size: 14px;
    color: #333;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 15px;
    background: #3B364E;
    color: #1F1B33;
    font-weight: bold;
    cursor: pointer;
    box-shadow: inset -16px -16px 100px #4c485d,
                inset 16px 16px 100px #beb4e9;
    transition: 0.3s ease;
}

button:hover {
    background: #3B364E#d0e8ff;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #b0d0f0;
    color: #9a2f2f;
}

#message {
    margin-top: 20px;
    color: green;
    text-align: center;
}
